/*Reset das margens da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; /*Fonte do texto*/
    background-image: url('plano\ de\ fundo.jpg');
    color: #333; /*cor do texto*/
    display: flex; /*Libera o conteúdo interno do body*/
    justify-content: center; /*Centralizar o conteúdo Horizontal*/
    align-items: center; /*Centralizar o conteudo na vertical*/
    height: 100vh;
}

.container{
    background-color: rgba(255,255,255,0.8);
    padding: 20px; /*margem interna da caixa*/
    border-radius: 8px; /*Borda arredondada*/
    box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /*largura*/
    max-width: 400px; /*largura maxima*/
    text-align: center; /*alinhmaneto*/   
}

/*formatação do titulo*/
h1{
    font-size: 24px; /*tamnho da fonte do titulo*/
    color: #333; /*cor da fonte*/
    margin-bottom: 20px; /*Margem inferior*/
}

/* fomatção para cada campo do formulário*/
.form-group {
    margin-bottom: 15px;
    text-align: left; /*alinhamneto para a esquerda*/
}

label{
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 100%; /*largura total do input*/
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


input[type="text"]:focus
input[type="tel"]:focus
input[type="email"]:focus
input[type="date"]:focus
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    cursor:  pointer;
}